body {
  padding-top: 70px;
}
.navbar-brand{
    padding-top: 10px;
    width: 125px;
    font-size: 25px;
}
.navbar-brand img{
    display: inline-block;
}
.items-gif {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}
.thumbnail hr{
    margin-top: 0px;
    margin-bottom: 5px;
}


#btns-vistas label{
    font-size: 18px;
    margin-right: 10px;
}